.ProductDetails{}

.ProductDetails .Title_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #F9F1E7;
    padding: 20px 15px;
}
.ProductDetails .Title_nav h3 {
    color: #9F9F9F;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}
.Products {
    padding: 15px;
}

/*Details of product   */

.Product_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 12px;
}
.Product_content .title h2{
    font-size: 28px;
    font-weight: 400;
    font-family: poppins;
    color: #333333;
}
.Product_content .price h3 {
    color: #9F9F9F;
    font-weight: 500;
    font-size: 24px;
}

.Product_content .rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;


}
.Product_content .rate .Review {
    color: #9F9F9F;
    font-size: 13px;
    font-weight: 400;
}


.Product_content .Description{

    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;

}

/*sizes button*/
.size-btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: NONE;
  background: #F9F1E7;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 5px;
  font-size: 10px;
  margin-bottom: 10px;
}
.size-title{
    font-size: 12px;
    color: #9F9F9F;
    font-weight: 400;
    margin-bottom: 10px;
}
.size-btn:hover {
  background: #B88E2F;
}

.size-btn.active {
  background: #B88E2F;
  color: #FFFFFF;
  border-color: #B88E2F;
  box-shadow: 0 4px 12px rgba(38, 54, 72, 0.4);
}

/* colors*/

.color-buttons {
  gap: 15px;
}

.color-title{
    font-size: 12px;
    color: #9F9F9F;
    font-weight: 400;
    margin-bottom: 10px;
}
.color-btn {
  width: 30px;
  height: 30px;
  border-radius:50%;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  margin-right: 8px;
}

.color-btn:hover {
  transform: scale(1.05);
}

.color-btn.active {
  border-color: #0070f3;
  box-shadow: 0 4px 12px rgba(0, 112, 243, 0.4);
}

.check-mark {
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*interaction*/
.interaction{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid #9F9F9F;
    padding-bottom: 25px;
}

/*quantity */
.quantity-container {

  display: flex;
  align-items: center;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
}

.qty-btn {
  width: 40px;
  height: 50px;
  border-radius: 8px;
  border: none;
  color: #000000;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.qty-input {
  width: 50px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}


/*add-to-cart*/
.add-to-cart {
  width: 50%;
  height: 50px;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 12px;
}

/* INFO*/
.info{
    color: #9F9F9F;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
 .info .info_item {
    display: flex;
    align-items: center;
    gap: 12px;
 }


 /*//////
 //////////////////////
 /////////////////////
 ///////////////////
 */
/* additional information */
.additional{
  border-top: 1px solid #9F9F9F;
  padding-top: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:25px ;
  }
   .additional .nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    display: flex;
    gap: 18px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    font-family: poppins;
    cursor: pointer;
    border: none;
   }

   .nav-link{
    color: #9F9F9F;
    font-weight: 600;
    font-size: 14px;
    font-family: poppins;
    cursor: pointer;
    border: none;
   }

   .tab-pane{
    color: #9F9F9F;
    font-weight: 600;
    font-size: 15px;
    font-family: poppins;
    cursor: pointer;
    border: none;
   }

   /*
   ///////////////
   /////////////
   /////////////////*/
   .images{
    text-align: center;
    margin-top: 30px;

   }
   .images img{
    margin: 12px;
   }

   @media screen and (max-width: 767px) {
    .images img{
            width: auto;
    height: auto;

    }
  }