.navbar {
  background-color: #FFFFFF;
  width: 100%;
  padding: 12px 8px;
  height: 65px;

}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  width: 100%;
}

.logo {
  padding: 0px 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  

}

.nav-links a:hover {
  color: #B88E2F;
  border-bottom:2px solid #B88E2F;
}








/*Icons_nav*/
.Icons_nav{
  list-style: none;
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 0;
  padding: 0;

}
.Icons_nav .icon {
  color: #000000;
  font-size: 22px;
}



.hamburger {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin-right: 6px;
}

/* mobile */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .mobile-menu {
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    background-color: #FAF3EA;

    width: 100%;
    position: relative;
    z-index: 1111;
  }
    .mobile-menu li a {
      color: #B88E2F;
    }

}
