
.swip_container{
  display: flex;
  align-items: center;
  gap: 5px;
}
/* this style is for  product swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 10px;

}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
    height: 100%;
  width: 100%;
  flex: 3 0 0;

}

.mySwiper {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  flex: 1 0 0;

}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.mySwiper .swiper-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  
}
.mySwiper .swiper-wrapper img {
  width: 100px;
  height: 68px;

}


@media screen and (max-width: 600px) {
  .mySwiper .swiper-wrapper {
    align-items: center;
  }
  
}



@media screen and (max-width: 600px) {
  .mySwiper{
    display: none;
  } 

  .swiper-button-prev,
.swiper-button-next {
  display: block;
  background-color: #ffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B88E2F !important;
  font-size: 25px;
}

  .swiper-button-prev::after{
      font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;


  }

.swiper-button-next::after {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}




}
